{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'polls/animate.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'polls/bootstrap-theme.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'polls/jquery-ui.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'polls/jquery-ui.structure.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'polls/jquery-ui.theme.min.css' %}" />
<script type="text/javascript" src="{% static 'polls/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'polls/js/jquery-ui.min.js' %}"></script>

{% if latest_person_list %}
    <ul>
    {% for person in latest_person_list %}
       <li><a href="{% url 'polls:detail' person.id %}">{{ person.person_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<script type="text/javascript" src="{% static 'polls/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'polls/js/main.js' %}"></script>