<h1>{{ person.person_text }}</h1>

<ul>
{% for choice in person.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
{% endfor %}
</ul>

<a href="{% url 'polls:detail' person.id %}">Vote again?</a>